<div class="push"></div>
<footer class="col">
  &copy; Copyright @name @current_year
<!--
  <a class="atom-rss" href="/feed/">RSS</a>
-->
</footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="@root_path/public/js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>


<!-- scripts concatenated and minified via ant build script-->
  <script src="@root_path/public/js/plugins.js"></script>
  <script src="@root_path/public/js/script.js"></script>
<!-- end concatenated and minified scripts-->

<!--[if lt IE 7 ]>
  <script src="@root_path/public/js/libs/dd_belatedpng.js"></script>
  <script>DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->


<script>
  var _gaq=[['_setAccount','@qa_code'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>